<%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>

            <%- include('../includes/layout.ejs')%>

                    <form
                        action="/annualleave"
                        method="POST"
                        class="col-xs-12 col-md-6 col-lg-8"
                    >
                        <h2 class="text-center"><%= employee.name %></h2>
                        <hr>
                        <table>
                            <tr>
                                <td>
                                    <label for="dayoff">Day off: </label>
                                </td>
                                <td>
                                    <input
                                        type="date"
                                        name="dayoff"
                                        id="dayoff"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="reason">Reason: </label>
                                </td>
                                <td>
                                    <textarea
                                        name="reason"
                                        id=""
                                        cols="30"
                                        rows="5"
                                    ></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Annual Leave: </label>
                                </td>
                                <td>
                                    <label><%= employee.annualLeave %></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="hourOff">Hour Off:</label>
                                </td>
                                <td>
                                    <input
                                        type="number"
                                        name="hourOff"
                                        id="hourOff"
                                    />
                                </td>
                            </tr>
                        </table>
                        <hr>
                        <div class="text-center p-2">
                            <button
                                type="submit"
                                class="btn btn-primary btn-lg"
                            >
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>