<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            
            <%- include('../includes/layout.ejs')%>

                    <div class="col-xs-12 col-md-6 col-lg-8">
                        <h2 class="text-center"><%= employee.name %></h2>
                        <hr>
                        <p>Date: <%= punchData.date %></p>
                        <div class="row d-flex">
                            <% for(i = 0 ; i < punchData.punch.length ; i++) { %>
                                <div class="card col-4">
                                    <h5 class="text-center">Shift <%= i + 1 %> </h5>
                                    <p>Work Place: <%= punchData.punch[i].workPlace %></p>
                                    <p>Start: <%= punchData.punch[i].startTime %></p>
                                    <p>Finish: <%= punchData.punch[i].finishTime %></p>
                                    <p>Working Time: <%= punchData.punch[i].workingTime %></p>
                                </div>
                            <% } %>
                        </div>
                        <p>Total Working Time Today: <%= punchData.totalWorkingTime%></p>
                        <p>Over Time: <%= punchData.overTime%></p>
                        <hr>
                    </div>
                </div>
                <div class="row d-flex justify-content-center text-center">
                    <form
                        action="/punch-in"
                        method="post"
                        class="col-xs-12 col-sm-5 col-lg-3"
                    >
                        <button
                            type="submit"
                            class="btn btn-primary btn-lg m-2"
                        >
                            Punch-in
                        </button>
                    </form>
                    <form
                        action="/annualleave"
                        method="post"
                        class="col-xs-12 col-sm-5 col-lg-3"
                    >
                        <button
                            type="submit"
                            class="btn btn-primary btn-lg m-2"
                        >
                            Annual Leave
                        </button>
                    </form>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>
