<%- include('../includes/head.ejs')%>

    </head>
    <body>
        
        <%- include('../includes/navigation.ejs')%>

        <main>
            <% if(!isAuthenticated) { %>
                <h1 class="text-center">Please Login</h1>
            <% } else {%>

                <h4 class="text-center">
                    Today is: <%= new Date().toLocaleDateString("vi-VN") %>
                </h4>
                <div class="container">
                    <div class="row my-3">
                        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
                            <img
                                src="<%= employee.imageUrl %>"
                                alt="EmployeeAvatar"
                            />
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-8">
                            <h2 class="text-center"><%= employee.name %></h2>
                            <hr />
                            <% for (let p of punchDatas ) { %>
                                <div>
                                    <h4 style="color: orange;">Date: <%= p.date.toLocaleDateString("vi-VN") %></h4>
                                    <div class="row d-flex">
                                        <% for(i = 0 ; i < p.punch.shift.length ; i++) { %>
                                            <div class="card col-4">
                                                <h5 class="text-center">Shift <%= i + 1 %> </h5>
                                                <p>Work Place: <%= p.punch.shift[i].workPlace %></p>
                                                <p>Start: <%= p.punch.shift[i].startTime.toString().slice(16,21) %></p>
                                                <p>Finish: <%= p.punch.shift[i].finishTime.toString().slice(16,21) %></p>
                                                <p>Working Time: <%= Math.floor(p.punch.shift[i].shiftWorkingTime / 60) %>h<%= (p.punch.shift[i].shiftWorkingTime % 60 === 0) ? '00' : p.punch.shift[i].shiftWorkingTime % 60 %>p</p>
                                            </div>
                                        <% } %>
                                    </div>
                                    <p style="font-weight: 500;">Total Working Time: <%= Math.floor(p.dailyWorkingTime / 60) %>h<%= p.dailyWorkingTime % 60 === 0 ? '00' : p.dailyWorkingTime % 60 %>p</p>
                                    <p style="font-weight: 500;">Over Time: <%= Math.floor(p.overTime / 60) %>h<%= p.overTime % 60 === 0 ? '00' : Math.abs(p.overTime % 60) %>p</p>
                                </div>
                                <hr>
                            <% } %>
                            <% if(hasPunchData) {%>
                                <section class="pagination">
                                    <% if (currentPage !== 1 && previousPage !== 1) { %>
                                        <a href="?page=1">1</a>
                                    <% } %>
                                    <% if (hasPreviousPage) { %>
                                        <a href="?page=<%= previousPage %>"><%= previousPage %></a>
                                    <% } %>
                                    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                                    <% if (hasNextPage) { %>
                                        <a href="?page=<%= nextPage %>"><%= nextPage %></a>
                                    <% } %>
                                    <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                                        <a href="?page=<%= lastPage %>"><%= lastPage %></a>
                                    <% } %>
                                </section>
                            <% } %>
                        </div>
                        
                    </div>
                </div>
            <% } %>
        </main>

        <%- include('../includes/end.ejs') %>
