<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if(!isAuthenticated) { %>
                <h1 class="text-center">Please Login</h1>
            <% } else {%>
                <h4 class="text-center">Today is: <%= new Date().toLocaleDateString("vi-VN") %></h4>
                <div class="container">
                    <div class="row my-3">
                        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
                            <img
                                src="<%= employee.imageUrl %>"
                                alt="EmployeeAvatar"
                            />
                        </div>
                        <form
                            action="/covidregistration"
                            method="POST"
                            class="col-xs-12 col-md-6 col-lg-8"
                        >
                            <h2 class="text-center"><%= employee.name %></h2>
                            <hr>
                            <h5>Basic Information:</h5>
                            <% if(errorMessage) {%>
                                <div class="user-message--error"><%= errorMessage %></div>
                            <% } %>
                            <table>
                                <tr>
                                    <td><label for="vaccineShot1">Vaccine Shot 1: </label></td>
                                    <td>
                                        <input 
                                            class="<%= validationErrors.find(e => e.param === 'vaccineShot1') ? 'invalid' : ''%>" 
                                            type="text" 
                                            name="vaccineShot1" 
                                            id="vaccineShot1"
                                            value="<%= oldInput.vaccineShot1 %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="dateShot1">Date:</label></td>
                                    <td>
                                        <input 
                                            class="<%= validationErrors.find(e => e.param === 'dateShot1') ? 'invalid' : ''%>" 
                                            type="date" 
                                            name="dateShot1" 
                                            id="dateShot1"
                                            value="<%= oldInput.dateShot1 %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="vaccineShot2">Vaccine Shot 2: </label></td>
                                    <td>
                                        <input 
                                            class="<%= validationErrors.find(e => e.param === 'vaccineShot2') ? 'invalid' : ''%>" 
                                            type="text" 
                                            name="vaccineShot2" 
                                            id="vaccineShot2"
                                            value="<%= oldInput.vaccineShot2 %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="dateShot2">Date:</label></td>
                                    <td>
                                        <input 
                                            class="<%= validationErrors.find(e => e.param === 'dateShot2') ? 'invalid' : ''%>" 
                                            type="date" 
                                            name="dateShot2" 
                                            id="dateShot2"
                                            value="<%= oldInput.dateShot2 %>">
                                    </td>
                                </tr>
                            </table>
                            <hr>
                            <h5>Body Temprature Register (Recently):</h5>
                            <table>
                                <tr>
                                    <td><label for="bodyTemprature">Body Temprature: </label></td>
                                    <td>
                                        <input 
                                            class="<%= validationErrors.find(e => e.param === 'bodyTemprature') ? 'invalid' : ''%>" 
                                            type="number" 
                                            name="bodyTemprature" 
                                            id="bodyTemprature" 
                                            step="0.5"
                                            value="<%= oldInput.bodyTemprature %>">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="negative">Negative With Covid:</label></td>
                                    <td><input type="checkbox" name="negative" id="negative" checked></td>
                                </tr>
                            </table>
                            <hr>
                            <div class="text-center p-2">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button
                                    type="submit"
                                    class="btn btn-primary btn-lg"
                                >
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>      
                </div>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
