<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(!isAuthenticated) { %>
        <h1 class="text-center">Please Login</h1>
        <% } else {%>
        <h4 class="text-center">
            Today is: <%= new Date().toLocaleDateString("vi-VN") %>
        </h4>
        <div class="container">
            <div class="row my-3">
                <div class="col-xs-12 col-md-6 col-lg-4 text-center">
                    <img src="<%= employee.imageUrl %>" alt="EmployeeAvatar" />
                </div>

                <form
                    action="/editinfo"
                    method="POST"
                    enctype="multipart/form-data"
                    class="col-xs-12 col-md-6 col-lg-8"
                >
                    <h2 class="text-center"><%= employee.name %></h2>
                    <hr />
                    <% if(errorMessage) {%>
                        <div class="user-message--error"><%= errorMessage %></div>
                    <% } %>
                    <table>
                        <tr>
                            <td>
                                <p>ID:</p>
                            </td>
                            <td>
                                <p><%= employee.id %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Day of Birth:</p>
                            </td>
                            <td>
                                <p>
                                    <%= employee.doB.toLocaleDateString("vi-VN")
                                    %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Salary Scale:</p>
                            </td>
                            <td>
                                <p><%= employee.salaryScale %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Start Day:</p>
                            </td>
                            <td>
                                <p>
                                    <%=
                                    employee.startDate.toLocaleDateString("vi-VN")
                                    %>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Department:</p>
                            </td>
                            <td>
                                <p><%= employee.department %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Annual Leave:</p>
                            </td>
                            <td>
                                <p><%= employee.annualLeave %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="image">Image URL:</label>
                            </td>
                            <td>
                                <input type="file" name="image" id="image" />
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <div class="text-center p-2">
                        <input
                            type="hidden"
                            name="_csrf"
                            value="<%= csrfToken %>"
                        />
                        <button type="submit" class="btn btn-primary btn-lg">
                            Edit Info
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
